@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&display=swap');
body{
  margin: 0;
  padding: 0;
}
.home-btn {
  z-index: 99;
  font-family: 'Philosopher', sans-serif;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: bold;
  background-color: #f67777;
  border-radius:  0px 0 0 18px;
  padding: 6px 8px; 
}
.home-btn:hover {
  font-size: 26px;
}
.row{
  position: relative;
  height: 100vh;
  font-size: 0;
  font-family: 'Kumar One Outline', cursive;
}
.col{
  display: inline-block;
  height: 100%;
  width: calc(100% / 6);
  font-size: initial;
  vertical-align: top;
  font-size: 48px;
  text-align: center;
  line-height: 100vh;
}
.col1{
  background-color: #dec5d7;
}
.col2{
  background-color: #d3b6d4;
}
.col3{
  background-color: #D3B3CA;
}
.col4{
  background-color: #e6b5c4;
}
.col5{
  background-color: #ebb1a9;
}
.col6{
  background-color: #fcbcb3;
}
.color1{
  font-size: 23px;
  font-family: 'Nova Flat', cursive;
}
.col:hover{
  color: #536180;
  font-size: 80px;
}