body{
  padding: 0;
  margin: 0;
  background-image: url(https://images.pexels.com/photos/4439608/pexels-photo-4439608.jpeg);
  background-position: 0 -250px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
.area{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
.area1{
/*   background-image: url(https://images.pexels.com/photos/4439608/pexels-photo-4439608.jpeg); */
  background-position: 0 -300px;
}
.area2{
  background-image: url(https://images.unsplash.com/photo-1449237386841-d30ba36cd1bf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=983&q=80);
  background-position: center center;
}
.area3{
  background-position: center center;
  background-image: url(https://images.unsplash.com/photo-1532348333249-1d0a7f01a0c5?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE3fHx8ZW58MHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-position: 0 -200px;
}
.area4{
 background-image: url(https://images.unsplash.com/photo-1616983872893-b98f9f299a3e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-position: center center;
}
.area5{
  
  background-image: url(https://images.unsplash.com/photo-1512457169793-9226993a29ad?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-position: 0 0;
}