body{
  background-color: #f7f0e4;
  font-family: 'Philosopher', sans-serif;
}
.home-btn {
  position: absolute;
  right: 0; 
  top: 0;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: bold;
  background-color: #e6ca9c;
  border-radius:  0px 0 0 18px;
  padding: 6px 10px; 
}
.home-btn:hover {
  font-size: 26px;
}
.card{
  width: 600px;
  height: 400px;
  letter-spacing: 1px;
  background-color: #edd7b4;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.head{
  display: block;
  width: 200px;
  height: 220px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.name{
  display: block;
  color:#fff;
  position: absolute;
  left: 20%;
  margin-top: 30px;
  font-weight: 600;
  font-size: 70px;
}
